
// ----------------------------------------------------------------------------
// ACTION ARE ALL MAIN PAGE BUTTONS WHICH ALLOW USERS TO CREATE NEW CONTENT


// The box in which all Action Buttons sit

.ol-action-box
  background-color: $col-links-lightest
  padding: 0.5em 5px
  margin-bottom: 20px

  a
    &:hover
      text-decoration: none
      margin-bottom: 0


// The Action Button itself

  .ol-action-button
    @include gradient-vertical($col-links, lighten($col-links, 25%))
    font-family: $lato
    font-weight: 300
    font-size: 1.25 * $base-font-size
    border: solid 1px red //$col-links-darkest
    border-radius: 0.2em
    text-align: center
    //padding: 0.5em 5px
    //margin: 0.5em 5px
    a:link
    a:visited

    a:hover
      @include gradient-vertical($col-links, $col-links-lighter)
      border: solid 1px $col-links
      //color: white
    a:active
      @include gradient-vertical()
      +gradient-links-bottom-darkest
      border: solid 1px $col-links-lighter

    .ol-action-span
      // position: absolute
      display: block
      width: 100%
      height: 100%
      top: 0
      left: 0
      color: $col-links-lightest
      text-decoration: none
      background-color: none
      &:visited
        color: $col-links-lightest
      &:hover
        color: white
      &:active
        color: $col-links


      /* edit: added z-index */
      z-index: 1


// The Help link underneath each Action Button

.ol-action-help
  font-family: $lato
  font-weight: 400
  font-size: 1em
  display: block
  padding: 0 0
  margin: 0.5em 10px
  text-align: right
  text-decoration: none
  &:link
    color: red //$col-links
  &:hover
    color: $col-links-darker
    background-color: transparent
  &:active
    color: $col-links-lighter
  &:visited
    color: $col-links








// COMMENTED OUT UNTIL WE KNOW WHAT THIS DOES
// ----------------------------------------------------------------------------
// News article - author picture
// #panels-ipe-paneid-106,
// .pane-user-name
.pane-user-field-user-picture
  float: left
  margin-right: 5px

#panels-ipe-paneid-110
  float: right





// ----------------------------------------------------------------------------
// Calendar
.month-view
  div
    text-align: center
  .has-events
    background-color: $col-links-lighter

    a
      color: #fff
