
// ----------------------------------------------------------------------------
// ACTION ARE ALL MAIN PAGE BUTTONS WHICH ALLOW USERS TO CREATE NEW CONTENT


// The box in which all Action Buttons sit

.ol-action-box
  background-color: $col-content-lightest
  padding: 0.5em 10px
  margin-bottom: 1em


  // The first Action Button in the Action Box panel
  .ol-action-button:first-of-type
    margin-left: auto
    margin-right: auto
    width: 100%
    padding-top: 0.5em
    padding-bottom: 0.5em
    a
      // height: 2em
      padding: 0.5em 10px
      display: block
      border-radius: 0.25em
      font-family: $lato
      font-weight: 400
      font-size: 1.25 * $base-font-size
      text-align: center
      &:link,
      &:visited
        color: $col-page
        border: solid 1px $col-links-darkest
        @include gradient-vertical($col-links-darker, $col-links)
      &:hover
        @include gradient-vertical($col-links, mix($col-links, $col-page, $weight:50%))
        border: solid 1px $col-links-darker
        color: white
      &:active
        @include glow-inner($col-links-darker, 10)
        @include gradient-vertical($col-links, $col-links-darker)
        border: solid 1px $col-links-lighter
        color: $col-links-lighter

      /* edit: added z-index */
      z-index: 1

  // The first Action Button in the Action Box panel
  .ol-action-button
    margin-left: auto
    margin-right: auto
    width: 100%
    padding-top: 0.5em
    padding-bottom: 0.5em
    a
      // height: 2em
      padding: 0.5em 10px
      display: block
      border-radius: 0.25em
      font-family: $lato
      font-weight: 400
      font-size: 1.25 * $base-font-size
      text-align: center
      &:link,
      &:visited
        color: $col-content-darker
        border: solid 1px $col-content
        @include gradient-vertical($col-content-lightest, $col-page)
      &:hover
        @include gradient-vertical($col-page, white)
        border: solid 1px $col-content
        color: $col-content
      &:active
        @include glow-inner($col-content-lighter, 10)
        @include gradient-vertical($col-page, $col-content-lightest)
        border: solid 1px white
        color: $col-content-darkest

      /* edit: added z-index */
      z-index: 1


  // The Help link underneath each Action Button
  a.ol-action-help
    display: block
    width: 100%
    padding: 0.5em 0
    text-align: right
    font-family: $lato
    font-weight: 400
    font-size: 1em
    text-decoration: none
    background-color: transparent
    &:link,
    &:visited
      color: $col-links
    &:hover
      color: $col-links-darker
    &:active
      color: $col-links-lighter



// COMMENTED OUT UNTIL WE KNOW WHAT THIS DOES
// ----------------------------------------------------------------------------
// News article - author picture
// #panels-ipe-paneid-106,
// .pane-user-name
.pane-user-field-user-picture
  float: left
  margin-right: 5px

#panels-ipe-paneid-110
  float: right

