
.ol-action-box
  background-color: $col-content–lightest
  padding: 10px 10px

.ol-action-button
  // display: block
  background-color: $col-links
  // background-color: #eee
  color: #fff
  font-size: 1.3em

  padding: 5px 20px
  a:link,
  a:visited,
  a:hover
    color: #ddd
    background-color: none
    text-decoration: none
    // border: none
  border: solid 1px #000
  text-align: center
  text-decoration: none

.ol-action-help
  display: block
  // float: right
  padding: 0px 0px
  margin-top: 14px
  text-align: right
  text-decoration: none


.ol-event-upcoming-sidebar
  background-color: $col-content–lightest

.field-name-field-ol-event-category,
.field-name-field-ol-event-date
  background-color: $col-content–lightest
  padding: 3px 0 6px 2px
  // padding-bottom: 6px
  border-bottom: solid 1px #FFF
  .field-label
    width: 80px
    font-size: 0.8em

.view-ol-event-upcoming
  .views-field-field-ol-event-date
    // float: left
    margin: 0 5px 5px 0
  .views-field-field-featured-image
    // float: left
    margin: 0 5px 5px 0

// ----------------------------------------------------------------------------
// News / user picture
// #panels-ipe-paneid-106,
// .pane-user-name
.pane-user-field-user-picture
  float: left
  margin-right: 5px

#panels-ipe-paneid-110
  float: right

// ----------------------------------------------------------------------------
//
.ol-item-grid

  .views-row
    float: left
    width: 220px


.view-id-openlocal_business,
.view-id-openlocal_group
  .views-row
    margin: 5px
