
// ----------------------------------------------------------------------------
// CONTEXTUAL HELP MODULE BLOCK STYLES


// The ID for Contextual Help module block on node edit or node add pages
.page-node-add,
.page-node-edit
  // Set the page title to a block and float left
  .page__title
    display: block
    float: left
    width: 68.085%
    max-width: 780px
    margin-right: 20px

  // Target only contextual help block
  #block-views-70482c69a64d1e0693c0f9809d0fce34
    margin-top: 2 * $base-font-size
    display: block
    width: 31.915%
    float: right
    background: transparentize($col-page-strong, 0.25)
    border: solid 1px $col-page-strong
    border-radius: 3px
    h2.block-title,
      display: block
      padding: 0.5em 10px
      font-family: $lato
      font-weight: 400
      font-size: 1.25em
      line-height: 1.5em
      color: $col-content-darkest

    div.view-display-id-modal_links_block
      padding: 0 10px 0.5em 10px

    .view-content
      background-color: yellow
      // width: 50px

      .views-row
        float: left

        a
          display: inline-block
          background-color: orange
          @include input-button-style
          padding: 0.25em 10px

    .add-contextual-help-link a
      display: inline-block
      @include input-button-style
      padding: 0.25em 10px

  // Styles for empty notices
  .view-empty
    @include list-item-title
    margin: 0.5em 0
    color: $col-content-darker













// ----------------------------------------------------------------------------
// ADMIN MESSAGES


.messages
  margin: rhythm(1) 0
  padding: 10px 10px 10px 50px
  // LTR
  background-image: inline-image("message-24-ok.png")
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7
    *background-image: image-url("message-24-ok.png")
  background-position: 8px 8px
  // LTR
  background-repeat: no-repeat
  border: 1px solid #be7

.messages--status
  @extend .messages
  @extend %ok

.messages--warning
  @extend .messages
  @extend %warning
  background-image: inline-image("message-24-warning.png")
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7
    *background-image: image-url("message-24-warning.png")
  border-color: #ed5

.messages--error
  @extend .messages
  @extend %error
  background-image: inline-image("message-24-error.png")
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7
    *background-image: image-url("message-24-error.png")
  border-color: #ed541d

.messages__list
  margin: 0

.messages__item
  list-style-image: none

// Core/module installation error messages.
.messages--error  p.error
  color: #333

// System status report

.ok,
%ok
  background-color: #f8fff0
  color: #234600

.warning,
%warning
  background-color: #fffce5
  color: #840

.error,
%error
  background-color: #fef5f1
  color: #8c2e0b

//.ol-admin-messages
// Insert styles here

// Styles Workbench information message block
.block-workbench


div.workbench-info-block
  clear: both
  margin: 2em 0
  padding: 1em 1em
  font-family: $lato
  font-size: 1.25em
  line-height: 1.5em
  color: $col-content-darkest
  border: solid 1px transparentize($col-content-strong, 0.5)
  background: transparentize($col-content-strong, 0.75)
  border-radius: 3px







// ----------------------------------------------------------------------------
// DRUPAL ADMIN TABLES

//
form
  th
    color: red
    // text-align: left
    // LTR
    padding-right: 1em
    // LTR
    border-bottom: 3px solid #ccc
  tbody
    border-top: 1px solid #ccc
  table ul
    margin: 0

  tr.even,
  tr.odd
    background-color: #eee
    border-bottom: 1px solid #ccc
    padding: 0.1em 0.6em

  tr.even
    background-color: #fff

  @if $legacy-support-for-ie6 or $legacy-support-for-ie7
    .lt-ie8 tr.even,
    .lt-ie8 tr.odd
      th,
      td
        // IE doesn't display borders on table rows.
        border-bottom: 1px solid #ccc

  // Markup generated by theme_tablesort_indicator().
  td.active
    background-color: #ddd

// Center checkboxes inside table cell

td.checkbox,
th.checkbox
  text-align: center

// Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
td.menu-disabled
  background: #ccc

//
// Autocomplete
//
// @see autocomplete.js

// Suggestion list
#autocomplete .selected
  background: $col-content-strong
  color: $col-page

//
// Collapsible fieldsets
//
// @see collapse.js
.fieldset-legend
  html.js .collapsible &
    background-image: inline-image("menu-expanded.png")
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7
      *background-image: image-url("menu-expanded.png")
    background-position: 5px 65%
    // LTR
    background-repeat: no-repeat
    padding-left: 15px
    // LTR
  html.js .collapsed &
    background-image: inline-image("menu-collapsed.png")
    // LTR
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7
      *background-image: image-url("menu-collapsed.png")
      // LTR
    background-position: 5px 50%
    // LTR
  .summary
    color: #999
    font-size: 0.9em
    margin-left: 0.5em

//
// TableDrag behavior
//
// @see tabledrag.js
tr.drag
  background-color: #fffff0

tr.drag-previous
  background-color: #ffd

.tabledrag-toggle-weight
  font-size: 0.9em

//
// TableSelect behavior.
//
// @see tableselect.js
tr.selected td
  background: #ffc

//
// Progress bar
//
// @see progress.js
.progress
  font-weight: bold
  .bar
    background: #ccc
    border-color: #666
    margin: 0 0.2em
    +border-radius(3px)
  .filled
    background-color: #0072b9
    background-image: image-url("progress.gif")

body#tinymce p, pre
  font-size: $base-font-size * 1.2

