
// ----------------------------------------------------------------------------
// HIGHLIGHT CAROUSEL


// The Home page main news highlight carousel zone
.pane-openlocal-highlight-panel-pane-1
  position: relative
  // height: 30em
  // .views-field-field-featured-image
    // height: 21em
  background-color: $col-content-lightest
  max-width: 580px
  margin-bottom: 1em
  .views-field-title
    position: absolute
    bottom: 20px
    padding: 0.25em 10px 0.25em 10px
    background-color: transparentize($col-links-darkest, 0.3)
    @include typography-highlight-heading
    color: $col-page
    a
      line-height: 1.25em
      &:link
        color: $col-page
        background: transparent
      &:visited
        color: $col-page
      &:hover
        color: $col-links-darker
      &:active
    clear: both
  .views_slideshow_slide_counter
    @include typography-grid-list-body
    display: block
    padding: 0.25em 5px
    background-color: transparentize($col-page, 0.3)
    position: absolute
    top: 0
    left: 0
    z-index: 10000

