
// ----------------------------------------------------------------------------
// HIGHLIGHT CAROUSEL


// The Home page main news highlight carousel
.pane-openlocal-highlight-panel-pane-1
  background-color: red
  height: 27em
  max-width: 580px
  margin-bottom: 1em

