
// ----------------------------------------------------------------------------
// HIGHLIGHT CAROUSEL


// The Home page main news highlight carousel zone
.pane-openlocal-highlight-panel-pane-1
  position: relative
  height: auto
  .views-field-field-featured-image
    height: 21em
  background-color: $col-content-lightest
  max-width: 580px
  margin-bottom: 1em
  .views-field-title
    padding: 0.25em 5px 0.75em 5px
    @include typography-highlight-heading
    color: $col-links-darker
    a
      &:link
        background: transparent
      &:visited
        color: $col-links
      &:hover
        color: $col-links-darker
      &:active
    clear: both
  .views_slideshow_slide_counter
    @include typography-grid-list-body
    display: block
    padding: 0.25em 5px
    background-color: transparentize($col-content-lighter, 0.5)
    position: absolute
    bottom: 0
    right: 0
    z-index: 10000

