
// ----------------------------------------------------------------------------
// LOGIN FORM OPTION BUTTONS








// ----------------------------------------------------------------------------
// SERVICE LINKS (SOCIAL MEDIA CONTROLS)

.pane-node-links
  margin-top: 1.5em
  margin-bottom: 3em
  a
    white-space: nowrap


.service-links-facebook,
.service-links-twitter,
.service-links-google-plus,
  padding-right: 0
  a
    display: inline-block
    padding: 5px 10px
    margin: 0.5em 0
    color: white
    @include corner-radius(0.25em)
    box-shadow: none

a.service-links-facebook
  @include gradient-vertical(darken($col-service-facebook, 20%), $col-service-facebook)
  border: 1px solid darken($col-service-facebook, 60%)
  &:hover
    color: lighten($col-service-facebook, 25%)
  &:active
    @include glow-inner(darken($col-service-facebook, 60%), 10)
    color: white

a.service-links-twitter
  @include gradient-vertical(darken($col-service-twitter, 20%), $col-service-twitter)
  border: 1px solid darken($col-service-twitter, 60%)
  &:hover
    color: lighten($col-service-twitter, 25%)
  &:active
    @include glow-inner(darken($col-service-twitter, 60%), 10)
    color: white

a.service-links-google-plus
  @include gradient-vertical(darken($col-service-google-plus, 20%), $col-service-google-plus)
  border: 1px solid darken($col-service-google-plus, 60%)
  &:hover
    color: lighten($col-service-google-plus, 25%)
  &:active
    @include glow-inner(darken($col-service-google-plus, 60%), 10)
    color: white

