
// ----------------------------------------------------------------------------
// CONTROLS AND BUTTONS


// Node edit page - field groups
.pane-node-field-featured-image,
.pane-node-form-publishing,
.pane-node-form-author,
  background-color: $col-content-lightest
  font-family: $lato
  color: $col-content-darker
  margin: 0 0 2em 0
  div
    margin: 0.25em 5px
  // padding:
  // border:
  // margin:
// Color
  
  // color:
// Text
  // font-family:
  // font-size:
  // line-height:
  // text-align:
// Other
  // cursor:








// ----------------------------------------------------------------------------
// LOGIN FORM OPTION BUTTONS


// 
