
// ----------------------------------------------------------------------------
// ALL PANELS CONTAINING DETAILS OF ADJACENT NODE CONTENT

// Campaign sidebar region
#panels-ipe-regionid-sidebar
  .field-name-group-group,
  .pane-node-field-ol-group-coordinators,
  .pane-node-field-ol-address
    background: $col-content-lightest
    margin: 0 0 1px 0
    padding: 0.5 * $base-font-size 5px
    .field-label
      color: $col-content
      font-family: $lato
      font-size: 1em
      line-height: 1em
      padding: 0.5em 0
  .pane-og-members-panel-pane-1
    background: $col-content-lightest
    margin: 2.5em 0 1em 0
  

// Component description
//.ol-panel-details-venue,
  // Positioning
    // position:
    // z-index:
    // top:
    // right:
    // Display & Box Model
  // display:
    // overflow:
    // box-sizing:
    // width:
    // height:
    // padding:
    // border:
    // margin:
  // Color
    // background:
    // color:
  // Text
    // font-family:
    // font-size:
    // line-height:
    // text-align:
  // Other
    // cursor:

// Component description
//.ol-panel-details-group,
  // Positioning
    // position:
    // z-index:
    // top:
    // right:
    // Display & Box Model
  // display:
    // overflow:
    // box-sizing:
    // width:
    // height:
    // padding:
    // border:
    // margin:
  // Color
    // background:
    // color:
  // Text
    // font-family:
    // font-size:
    // line-height:
    // text-align:
  // Other
    // cursor:

// Component description
//.ol-panel-details-event
  // Positioning
    // position:
    // z-index:
    // top:
    // right:
    // Display & Box Model
  // display:
    // overflow:
    // box-sizing:
    // width:
    // height:
    // padding:
    // border:
    // margin:
  // Color
    // background:
    // color:
  // Text
    // font-family:
    // font-size:
    // line-height:
    // text-align:
  // Other
    // cursor:

// Component description
//.ol-panel-details-event-map,
  // Positioning
    // position:
    // z-index:
    // top:
    // right:
    // Display & Box Model
  // display:
    // overflow:
    // box-sizing:
    // width:
    // height:
    // padding:
    // border:
    // margin:
  // Color
    // background:
    // color:
  // Text
    // font-family:
    // font-size:
    // line-height:
    // text-align:
  // Other
    // cursor:

// Component description
//.ol-panel-details-event-invites,
  // Positioning
    // position:
    // z-index:
    // top:
    // right:
    // Display & Box Model
  // display:
    // overflow:
    // box-sizing:
    // width:
    // height:
    // padding:
    // border:
    // margin:
  // Color
    // background:
    // color:
  // Text
    // font-family:
    // font-size:
    // line-height:
    // text-align:
  // Other
    // cursor:

// Component description
//.ol-panel-details-event-venue,
  // Positioning
    // position:
    // z-index:
    // top:
    // right:
    // Display & Box Model
  // display:
    // overflow:
    // box-sizing:
    // width:
    // height:
    // padding:
    // border:
    // margin:
  // Color
    // background:
    // color:
  // Text
    // font-family:
    // font-size:
    // line-height:
    // text-align:
  // Other
    // cursor:

// Component description
//.ol-panel-details-services,
  // Positioning
    // position:
    // z-index:
    // top:
    // right:
    // Display & Box Model
  // display:
    // overflow:
    // box-sizing:
    // width:
    // height:
    // padding:
    // border:
    // margin:
  // Color
    // background:
    // color:
  // Text
    // font-family:
    // font-size:
    // line-height:
    // text-align:
  // Other
    // cursor:

// Component description
//.ol-panel-details-services-map,
  // Positioning
    // position:
    // z-index:
    // top:
    // right:
    // Display & Box Model
  // display:
    // overflow:
    // box-sizing:
    // width:
    // height:
    // padding:
    // border:
    // margin:
  // Color
    // background:
    // color:
  // Text
    // font-family:
    // font-size:
    // line-height:
    // text-align:
  // Other
    // cursor:

// Component description
//.ol-panel-details-services-times
  // Positioning
    // position:
    // z-index:
    // top:
    // right:
    // Display & Box Model
  // display:
    // overflow:
    // box-sizing:
    // width:
    // height:
    // padding:
    // border:
    // margin:
  // Color
    // background:
    // color:
  // Text
    // font-family:
    // font-size:
    // line-height:
    // text-align:
  // Other
    // cursor:
