
// ----------------------------------------------------------------------------
// BRANDING - FOOTER

#footer
  width: 100%
  margin: 20px 0 0 0
  background-color: $col-content-darker
  p
    color: $col-content-lighter
  a
    color: $col-content-lightest
  a:hover
    background-color: transparent



// ----------------------------------------------------------------------------
// Footer menu

#block-menu-menu-ol-footer-menu
  .block-title
    display: none
  li.menu__item
    list-style: none
    display: inline-block
    padding: 0 20px 0 0
    font-size: 1.2em
    a
      color: $col-content-lightest
    a:hover
      background-color: transparent


// ----------------------------------------------------------------------------
// Text block

#block-block-10
  padding: 0 0 0 20px

