
// ----------------------------------------------------------------------------
// FORMS








// ----------------------------------------------------------------------------
// NODE CREATION AND EDITING FORM GROUPING PANELS


// Node edit page - field groups
.page-node-add .pane-node-field-featured-image,
.page-node-add .pane-node-form-publishing,
.page-node-add .pane-node-form-author,
.page-node-add .pane-node-field-featured-categories,
.page-node-add .pane-node-form-menu,
.page-node-edit .pane-node-field-featured-image,
.page-node-edit .pane-node-form-publishing,
.page-node-edit .pane-node-form-author,
.page-node-edit .pane-node-field-featured-categories,
.page-node-edit .pane-node-form-menu,
.pane-node-field-ol-group-coordinators,
.pane-og-members-panel-pane-1
  background-color: $col-content-lightest
  font-family: $lato
  color: $col-content-darker
  margin: 0 0 1em 0
  padding: 0 0 0.5em 0
  .form-item
    margin: 0.5em 10px 0.5em 10px
  .form-item > .form-item
    margin: 0

  // Override Panopoly spacing on the h2 tag
#node-edit .pane-node-field-featured-image h2
  margin-top: 0






// ----------------------------------------------------------------------------
// NODE EDITING FORMS

form
  // Style form labels
  .pane-node-form-title
    background-color: $col-content-lightest
    padding: 0.25em 10px 0.5em 10px
    .counter
      margin: 0.75em 0 0 0
      color: $col-content
      font-family: $lato
      font-size: 1em
      line-height: 1em
      // padding: 0.5em 0
      color: $col-content
      strong
        color: $col-content-strong
    .messages, .warning
      // border: solid 1px red

  label
    color: $col-content
    font-family: $lato
    font-size: 1em
    line-height: 1em
    padding: 0.5em 0

  // Style text input fields
  input[type="text"],
  input[type="password"],
  textarea,
  #tinymce
    padding-left: 5px
    padding-right: 5px
    border-radius: 3px
    border: solid 1px white
    font-family: $lato
    font-weight: 300
    // font-size: 1 * $base-font-size
    color: $col-content-darkest
    box-shadow: none
    @include gradient-vertical(lighten($col-page, 7%), lighten($col-page, 3%))
    @include glow-inner($col-content-lighter, 5)
  #edit-title
    font-family: $merriweather


  // Input buttons
  input[type="submit"],
  #node-edit .form-actions input,
  #node-edit .image-widget .form-submit,
    @include input-button-style

  // Publish or save buttons
  #node-edit .form-actions input[id="edit-submit"]
    @include input-button-style-strong


  // Text areas
  textarea
    font-family: $lato
    font-size: 1em
    line-height: 1.25em
    font-weight: 300
    padding: 0.5em 5px

  // Multi-select
  select[multiple="multiple"]
    background-color: $col-page
    border: solid 1px $col-content
    font-family: $lato
    font-size: 1em
    line-height: 1.25em
    color: $col-content
    padding: 0.25em 10px

  // Style field sets
  fieldset
    background-color: $col-content-lightest
    border: none
    border-radius: 3px
    legend
      display: block
      background-color: $col-content-lighter
      border-radius: 100px
      font-family: $lato
      font-size: 1em
      line-height: 1em
      padding: 0.25em 20px // 0.25em 10px
      margin: 0
      color: $col-page
      font-weight: 400
      a
        &:link
          font-family: $lato
          color: $col-page
        &:hover
          background-color: transparent
        &:active
          background-color: transparent


  // Style field descriptions
  .fieldset-description,
  .description
    font-family: $lato
    font-size: 1em
    line-height: 1.25em
    font-weight: 300
    padding: 0.5em 0
    margin: 0
    color: $col-content
  .form-type-radio .description,
  .form-type-checkbox .description
    margin-left: 1.5em

  #node-edit .form-item-date-time,
  #node-edit .form-item-name,
  #node-edit .form-item-machine-name,
  #node-edit .form-item-date,
    label
      color: $col-content-darker
      width: 5em
      margin: 0.5em 0
      padding: 0
  .container-inline-date
    margin: 0.5em 0

  // Style tables within forms
  table
    width: 100%
    font-family: $lato
    color: $col-content
    th
      border-bottom: solid 1px $col-content-lighter
    tr
      background-color: transparent
    td
      border-bottom: solid 1px $col-page
      background-color: $col-content-lightest
      padding: 0.5em 1.5em


  // All generic links in a form get set to Lato
  div
    a:link
      font-family: $lato


  // The image editor widget
  .imagefield-focus.focus-box
    // min-width: auto
    width: auto !important
    width: 100%
    max-width: 100%
    clear: both
    min-width: 280px

// Wrapper for a form element (or group of form elements) and its label
.form-item
  margin: rhythm(1) 0

  // Pack groups of checkboxes and radio buttons closer together
  .form-checkboxes &,
  .form-radios &

    // Drupal core uses "0.4em 0".
    margin: 0

  // Form items in a table
  tr.odd &,
  tr.even &
    margin: 0

  // Highlight the form elements that caused a form submission error
  input.error,
  textarea.error,
  select.error
    border: 1px solid $col-content-strong

  // The descriptive help text (separate from the label)
  .description
    font-size: 0.875em

.form-type-radio,
.form-type-checkbox
  .description
    margin-left: 2.5em

// The part of the label that indicates a required field
.form-required
  color: $col-content-strong

// Labels for radios and checkboxes
label.option
  display: inline
  font-weight: normal

// Buttons used by contrib modules like Media
a.button
  +appearance(button)

// Password confirmation

.password-parent,
.confirm-parent
  margin: 0

// Drupal's default login form block
#user-login-form
  text-align: left
  // LTR

#node-edit .form-item-path-alias
  float: right
  margin: 1em 0
  input
    width: 50%








// ----------------------------------------------------------------------------
// SEARCH FORM


// The search field itself
#search-form
  float: right
  .form-type-textfield
    vertical-align: top
    color: $col-content-darker
    #edit-keys
      vertical-align: top
      height: 2.2 * $base-font-size
      width: 12em
      padding: 0.25em 0.5em 0.25em 0.5em
      vertical-align: top
      font-family: $lato
      font-weight: 300
      border-radius: 0.2em
      @include glow-inner($col-content-lighter, 5)
      font-size: 1.25 * $base-font-size
  // The submit button on the search form
  .form-submit
    vertical-align: top
    height: 2 * $base-font-size
    width: 2 * $base-font-size
    margin-top: 1px
    background: transparent url(../images/search.png) no-repeat left top
    background-color: $col-links
    padding-right: 25px
    padding-bottom: 0.5 * $base-font-size
    text-indent: -9999px
    border: 1px solid $col-links-darker
    border-radius: 0.2em
    a
    &:hover
      @include glow-inner($col-links-darker, 10)
    &:active
      // possibly add style here for activated button


  // @include gradient-vertical(red, mix(red, $col-page, $weight:50%))



