
// ----------------------------------------------------------------------------
// GRID LISTS - LISTS WHICH DISPLAY AS A GRID OF PANELS

// .ol-item-grid

//   .views-row
//     float: left
//     width: 220px


// When using the Harris Panopoly layout (middle two columns hold grid lists)
// remove 20px right-hand margin on middle column

.page-services .harris-column-content-region-inner,
.page-groups .harris-column-content-region-inner,
.page-frontpage .harris-column-content-region-inner
  margin-right: 0px



@mixin grid-list()
  // background-color: red
  .views-row
    float: left
    background-color: $col-content-lightest
    // padding: 5px
    width: 45.667%

    margin: 0 10px 1em 10px

    .views-field-title
      font-family: $merriweather
      font-size: 1.125em
      font-weight: 300
      a:link

      a:visited
      a:hover
        color: $col-links
        background-color: transparent
      a:active


    .views-field-field-ol-business-category,
    .views-field-field-ol-group-category
      font-weight: bold
      height: 30px
      // padding-top: 2px
      padding-left: 5px
      // .field-content
      a
        vertical-align: bottom

    // TODO: overrides needed? Check base versions.
    // .views-field-title
      // a
        // padding: 3px
        // width: 95%


.view-id-openlocal_business,
.view-id-openlocal_group
  @include grid-list()
  height: 230px


.view-display-id-list_news_articles
  @include grid-list()
  .links
    float: right

// @media only screen and (max-width: 768px)

@media only screen and (max-width: 768px)
  .view-id-openlocal_business,
  .view-id-openlocal_group,
  .view-display-id-list_news_articles
    .views-row
      width: 100%
      float: none

.views-field-field-featured-image
  img
    .panopoly-image-quarter
      float: right
      max-width: 100%
      max-height: 100%
