
// ----------------------------------------------------------------------------
// TAGS

// Tags
//.ol-nav-tags
  // Positioning
  // position:
  // z-index:
  // top:
  // right:
  // Display & Box Model
// display:
  // overflow:
  // box-sizing:
  // width:
  // height:
  // padding:
  // border:
  // margin:
// Color
  // background:
  // color:
// Text
  // font-family:
  // font-size:
  // line-height:
  // text-align:
// Other
  // cursor:

.field-name-field-ol-tags
  margin-bottom: 1em
  font-size: 0.9em
  .field-item
    display: inline-block
    margin-right: 10px
    a
      background-color: $col-links-lightest
      color: $col-links
      border-radius: 0.25 * $base-font-size
      padding: 0.25em 4px 0.25em 4px

.pane-node-links
  margin-top: 1.5em
  margin-bottom: 1em

.service-links-facebook,
.service-links-twitter,
.service-links-google-plus,
.forward_link

  a
    +input-button-style
    padding: 5px 10px

