
// ----------------------------------------------------------------------------
// NAVIGATION

// Style the basic navigation bar
#navigation
  // Sometimes you want to prevent overlapping with main div.
  // overflow: hidden;
  height: 3em
  .block
    margin-bottom: 0
  .block-menu .block__title,
  .block-menu-block .block__title
    @extend %element-invisible
  // Main menu and secondary menu links and menu block links.
  .links,
  .menu
    margin: 0
    padding: 0
    text-align: left
    // LTR
    li
      // A simple method to get navigation links to appear in one line.
      float: left
      // LTR
      padding: 0
      // LTR
      list-style-type: none
      list-style-image: none
  li a:hover, li a:active
    @include gradient-vertical($col-links-darker, $col-links-darkest)
    // +gradient-nice-menus-block
  // add currently-active menu style to indicate currently-active link
  // use +glow-inner-nice-menus-current and +gradient-nice-menus-link to highlight reverse color and text white

  // +gradient-nice-menus-link
  @include gradient-vertical($col-links-darkest, $col-links-darker)

// ----------------------------------------------------------------------------
// NICE MENU STYLES

// Nice Menus styles
.nice-menu
  height: 100%
  li
    color: $col-page
    font-family: $lato
    font-size: 1.25 * $base-font-size
    font-weight: 300
    height: 100%
    vertical-align: center
    padding: 0 0
    a
      text-decoration: none
      letter-spacing: 0.025em
      padding: 12px 15px
      color: $col-page


// Styles for sub-menu links
#navigation
  .nice-menu-down
    li
      li
        border-left: solid 1px $col-content-lighter
        border-right: solid 1px $col-content-lighter
        border-bottom: solid 1px $col-content-lighter
        background-color: $col-page
        font-size: 1 * $base-font-size
        font-weight: 400
        color: $col-links
        a
          color: $col-links-darkest
          padding: 0.25em 15px
        a:link
          color: $col-links
        a:hover
          background-color: $col-links-lightest
          background-image: none
        a:active
          background-color: $col-links
          color: white
      li:hover
        background-color: $col-links-lightest

#navigation
  .nice-menu-down
    ul
      margin-top: 0.6em
      ul
        margin-top: 0.05em
        border-top: 1px solid $col-content-lighter

.nice-menu-navigation
  // .nice-menu-down
  li
    a
      color: $col-links-darkest
      font-size: 0.9 * $base-font-size
      padding: 0.25em 5px
