
// ----------------------------------------------------------------------------
// SECTION-LEVEL NAVIGATION MENU


// Style the navigation menu block

// .pane-openlocal-event-categories-panel-pane-1

.ol-2nd-nav-menu
  border-top: 1px $col-content-lighter solid
  margin-bottom: 0.5em
  .views-row
    // background-color: #F4EEE0 //TODO
    border-bottom: 1px $col-content-lightest solid
    padding: 0.5em 0
    &:hover
      background-color: $col-links-lightest
      a
        color: $col-links-darkest
    &:active
      a
        color: white
      background-color: $col-links
    a
      padding-left: 10px
      padding-right: 10px
      color: $col-links
      text-decoration: none
      font-family: $lato
      font-size: 1em
      font-weight: 400








// ----------------------------------------------------------------------------
// NEWS ARTCILE TOPICS MENU PANEL


.view-display-id-popular_news_topics
  ul
    list-style: none
    margin: 0
    padding: 0
    li
      padding: 0.5em 10px 0.5em 10px
      font-family: $lato
      font-size: 1em
      font-weight: 400
      color: $col-content-lighter
      border-bottom: 1px $col-content-lightest solid
      a
        color: $col-links
        background-color: transparent
        &:hover
          color: $col-links-darker
        &:active
          color: $col-links-lighter

