
// ----------------------------------------------------------------------------
// SECTION-LEVEL NAVIGATION MENU


// Style the navigation menu block

// .pane-openlocal-event-categories-panel-pane-1

.ol-2nd-nav-menu
  border-top: 1px $col-content-lighter solid
  margin-bottom: 2em

  // The "View all" option
  .view-header
    // background-color: blue
    p
      margin: 0
    a
      border-bottom: 1px solid $col-content-lighter
      padding: 3.5% 5% 1.5% 5%
      &:link,
      &:visited
        display: block
        height: 2em
        width: 90%
        font-family: $lato
        font-size: 1em
        font-weight: 900
        text-decoration: none
        color: $col-links
      &:hover
        background-color: $col-links-lightest
        color: $col-links-darkest
      &:active
        color: white
        background-color: $col-links


  // The normal menu items
  .views-row
    border-bottom: 1px $col-content-lightest solid

    // The active link in the menu
    .views-field a.active
      background-color: $col-links-lightest
      // font-weight: 900
      color: $col-links-darker
    a
      padding: 3.5% 5% 1.5% 5%
      &:link,
      &:visited
        display: block
        height: 2em
        width: 90%
        font-family: $lato
        font-size: 1em
        font-weight: 400
        text-decoration: none
        color: $col-links
      &:hover
        background-color: $col-links-lightest
        color: $col-links-darkest
      &:active
        color: white
        background-color: $col-links







// ----------------------------------------------------------------------------
// BOOK MENU



ul.menu
  margin-bottom: 0.5em
  .menu__item li
    border-bottom: 1px $col-content-lightest solid
    // The active link in the menu
    .views-field a.is-active-trail
      background-color: $col-links-lightest
      // font-weight: 900
      color: $col-links-darker
    a
      padding: 3.5% 5% 1.5% 5%
      &:link,
      &:visited
        display: block
        height: 2em
        width: 90%
        font-family: $lato
        font-size: 1em
        font-weight: 400
        text-decoration: none
        color: $col-links
      &:hover
        background-color: $col-links-lightest
        color: $col-links-darkest
      &:active
        color: white
        background-color: $col-links
