
// ----------------------------------------------------------------------------
// PANELS CONTAINING ONE NODE SUMMARY

// Component description
//.declaration
  // Positioning
    // position:
    // z-index:
    // top:
    // right:
    // Display & Box Model
  // display:
    // overflow:
    // box-sizing:
    // width:
    // height:
    // padding:
    // border:
    // margin:
  // Color
    // background:
    // color:
  // Text
    // font-family:
    // font-size:
    // line-height:
    // text-align:
  // Other
    // cursor:


.node-featured
  .panel-display
    //margin: 0 20px 20px 10px



.node-ol-reward-scheme  // view-mode-featured node-by-viewer clearfix
  margin-bottom: 1em
  background-color: $col-links-lightest




// ----------------------------------------------------------------------------
// NEWS LANDING PAGE PROMOTED, FEATURED ARTICLE HEADING
.panopoly-news-featured .pane-node-title
  padding: 0 0
  font-family: $merriweather
  font-size: 2 * $base-font-size
  line-height: 2 * $base-font-size
  font-weight: 300
  color: $col-links-darker









// ----------------------------------------------------------------------------
// NEWS ARTICLE RELATED NEWS ARTICLE DISPLAY - PANEL

.pane-openlocal-news-related-news-articles
  background-color: $col-content-lightest
