
// ----------------------------------------------------------------------------
// PANELS CONTAINING ONE NODE SUMMARY


.node-featured
  .panel-display
    //margin: 0 20px 20px 10px



.node-ol-reward-scheme  // view-mode-featured node-by-viewer clearfix
  margin-bottom: 1em
  background-color: $col-links-lightest




// ----------------------------------------------------------------------------
// NEWS LANDING PAGE PROMOTED, FEATURED ARTICLE HEADING
.panopoly-news-featured .pane-node-title
  padding: 0.25em 0 0.75em 0
  @include typography-highlight-heading




// ----------------------------------------------------------------------------
// NEWS ARTICLE RELATED NEWS ARTICLE DISPLAY - PANEL

.pane-openlocal-news-related-news-articles,
.view-display-id-related_news_articles
  background-color: $col-content-lightest
  .view-display-id-related_news_articles
  .views-field-title
    @include list-item-title
    padding: 0.5em 5px
  .views-field-body .field-content
    @include typography-grid-list-body
    display: block
    padding: 0.5em 5px
  .ol-article-related-list-date
    @include typography-grid-list-date
    padding: 0.5em 5px
    border-top: solid 1px $col-page
