
// ----------------------------------------------------------------------------
// PANEL PANES - GLOBAL STYLES








// ----------------------------------------------------------------------------
// BLOCKS

// Block wrapper

.block
  margin-bottom: rhythm(1)








// GENERIC STYLES FOR ALL PANEL PANES


// Style heading text and heading as a link
.panel-pane h2
  // padding: 0.75em 5px 0.25em 5px
  margin: 0
  color: $col-content
  font-family: $merriweather
  font-weight: 900
  font-size: 1em
  line-height: 1em
  text-decoration: none
  border-bottom: solid 1px $col-content-lighter
  a
    &:link
      color: $col-links
      text-decoration: none
    &:visited
      color: $col-links
    &:hover
      color: $col-page
    &:active
      color: white


// Style summary text in standard panel pane
.panel-pane .pane-node-body p,
.views-field-body .field-content p
  @include typography-grid-list-body


// Styles the main heading text for generic panels
view-display-id-list_news_articles .views-field-title
  @include typography-grid-list-heading
  a
    font-family: $merriweather
    font-size: 1.125 * $base-font-size
    line-height: 1.5 * $base-font-size
    font-weight: 300
    text-decoration: none
    display: block
    padding: 0.75em 5px 0.25em 5px
    &:link
      color: $col-links
    &:visited
      color: $col-links
    &:hover
      color: $col-links-darker
      background-color: $col-links-lightest
    &:active
      color: white
      background-color: $col-links

