
// ----------------------------------------------------------------------------
// ALL PANELS CONTAINING CONTENT LISTINGS








// ----------------------------------------------------------------------------
// GENERIC LISTING PANEL HEADING

h2.pane-title,
h2.node-title
  @include grid-list-panel-title








// ----------------------------------------------------------------------------
// UPCOMING EVENTS LISTING DISPLAY - PANEL

// Mixin to consistently style event dates in events listings
@mixin event-date($date-size, $month-size)
  .ol-date-only
    font-family: $lato
    span:first-child
      display: block
      color: $col-content-darkest
      font-size: $date-size * $base-font-size
      font-weight: 900
    // span
    span:last-child
      display: block
      color: $col-content
      font-size: $month-size * $base-font-size
      line-height: 1em
    text-align: center








// ----------------------------------------------------------------------------
// UPCOMING EVENTS LISTING DISPLAY - SIDEBAR PANEL


.pane-openlocal-event-panel-pane-1
  background-color: $col-content-lightest

// Upcoming events sidebar panel - view content styling
.view-ol-event-upcoming-sidebar

  // Dates column text (day and month)
  @include event-date(1.125, 0.75)
  table
    width: 100%
    margin: 0 0
    tr
      vertical-align: top
      border-bottom: solid 1px $col-page
      background-color: transparent
      td.views-field-field-ol-event-date
        padding: 0.25em 5px 0.5em 5px


      td.views-field-title
        min-height: 5em
        padding: 0.5em 5px
        // Event title and location
        h1
          // padding: 0.25em 0 0 0
          @include typography-panel-list-title
          margin: 0

        h2
          @include typography-panel-list-venue
          border-bottom: none
          padding: 0.25em 0







// What is this? Comment needed!

.field-name-field-ol-event-category,
.field-name-field-ol-event-date
  background-color: $col-content-lightest
  padding: 3px 0 6px 2px
  // padding-bottom: 6px
  border-bottom: solid 1px #FFF
  .field-label
    width: 80px
    // font-size: 0.8em


// What is this? Comment needed!

.view-ol-event-upcoming
  .views-field-field-ol-event-date
    // float: left
    margin: 0 5px 5px 0
  .views-field-field-featured-image
    // float: left
    margin: 0 5px 5px 0









// ----------------------------------------------------------------------------
// SERVICES LISTING DISPLAY - GRID

// .ol-panel-list-services-related
.view-openlocal-business
  // background-color: $col-content-lightest
  .view-content
    .views-field
    display: block
    display: clear


// Style Services description text
.views-field-field-ol-description
  font-family: $lato
  font-size: 1em
  font-weight: 300
  line-height: 1em
  color: $col-content
  padding: 0.25em 5px




// ol-panel-list-articles-archive,
// ol-panel-list-group-events





// ----------------------------------------------------------------------------
// LISTING DISPLAY - PANEL


.pane-openlocal-news-article-archive,
.pane-openlocal-news-articles-by-author,
  background-color: $col-content-lightest
  margin: 1em 0
  .item-list
    h3
      color: $col-content
      font-family: $lato
      font-weight: 400
      font-size: 1em
      line-height: 1em
      padding: 1.25em 5px 0.25em 5px
      margin: 0
    ul
      margin: 0
      padding: 0
      list-style: none
      font-family: $merriweather
      font-size: 1em
      line-height: 1.25em
      font-weight: 300
      li.views-row
        padding: 0.5em 5px
        border-bottom: solid 1px $col-page
        a
          background-color: transparent
          &:link
            color: $col-links
            text-decoration: none
          &:visited
            color: $col-links-darker
          &:hover
            color: $col-links-darker
          &:active
            color: $col-links-lighter
      li.views-row-last
        border-bottom: none

  // Styles for empty notices
  .view-empty p
    @include list-item-title
    padding: 0.5em 5px
    margin-top: 0
    color: $col-content-darker







// ----------------------------------------------------

.pane-openlocal-what-s-hot-panel-pane-1
  background-color: $col-content-lightest

  // View inside panel
  .view-openlocal-what-s-hot
    // Each row of listing
    .views-row
      padding: 0.5em 5px
      border-bottom: solid 1px $col-page
      // Title of each hot item
      .views-field-title
        margin: 0.5em 0
        display: inline
        width: 80%
        float: left
        @include list-item-title
        line-height: 1.25em

      // Radioactivity ranking
      .views-field-field-ol-radioactivity
        text-align: right
        padding: 0
        line-height: 1.25em
        margin: 0.5em 0
        .field-content
          display: inline
          width: 20%
          @include grid-list-panel-title
          color: $col-content-strong
          letter-spacing: 1px







// ----------------------------------------------------
// RECENT DISCUSSIONS PANEL

.pane-ol-forum-recent-comments-panel-pane-1,
  background-color: $col-content-lightest
  margin-bottom: 1em

  // Wrapper around Comment post title
  .views-field-subject
    padding: 0.5em 5px 0 5px
    a
      @include list-item-title
      background: transparent
      &:link,
      &:visited
        color: $col-links
      &:hover
        color: $col-links-darker
      &:active
        color: $col-links-lighter


  // Wrapper around comment post details
  .views-field-created
    padding: 0 5px

    // "Posted on:" label
    .views-label
      @include typography-grid-list-body
    // Time and date of post
    .field-content
      @include typography-grid-list-body
      font-weight: 400


  // Wrapper around name of comment post author
  .views-field-name
    border-bottom: solid 1px $col-page
    padding: 0 5px 0 5px
    // Name label
    .views-label
      @include typography-grid-list-body
      padding: 0

    // Username link
    a.username
      @include typography-grid-list-body
      padding: 0
      &:link,
      &:visited
        color: $col-links
      &:hover
        color: $col-links-darker
      &:active
        color: $col-links-lighter

























