
// PANELS STYLES
//
// This file contains styles for all panels and panes

//
// BLOCKS

// Block wrapper.
.block
  margin-bottom: rhythm(1)


// PANEL PANES - GLOBAL STYLES

// 
.pane-node-field-ol-event-venue-ref
  background-color: $col-content-lightest
  h2
    font-family: $lato
    font-size: 1em


// Heading
.panel-pane h2
  margin: 0 0
  color: $col-content-darker
  font-family: $lato
  font-weight: 900
  font-size: 1em
  text-decoration: none
  &:link
    color: $col-links
    text-decoration: none
  &:visited
    color: $col-links
  &:active
    color: white
  a
    &:hover
    color: $col-page

// View content styling for Upcoming events panel
.pane-openlocal-event-panel-pane-1
  margin: 0.5em 0
  background-color: $col-content-lightest
  h2.pane-title
    border-bottom: 1px $col-content-lighter solid
    padding: 0 4px
  table
    margin: 0 0
    width: 100%
    tr
      vertical-align: top
      border-bottom: 1px $col-page solid
      background-color: transparent
    td.views-field-field-ol-event-date
      padding: 0 4px
      font-family: $lato
      font-weight: 900
      font-size: 1.125 * $base-font-size
      color: $col-content
    td.views-field-title
      padding: 0 4px
      font-family: $lato
      font-weight: 900
      font-size: 1em
      color: $col-content
      text-decoration: none
      a
        font-family: $merriweather
        font-weight: 300
        text-decoration: none
        color: $col-links-darkest
        font-size: 0.875 * $base-font-size

//
// UPCOMING EVENTS LISTING DISPLAY - LIST

.pane-openlocal-event-panel-pane-2
  border-top: 1px $col-content-lighter solid
  margin-bottom: 0.5em

.view-ol-event-upcoming table td
  vertical-align: top

.view-ol-event-upcoming table tr
  background-color: transparent
  border-bottom: 1px $col-content-lightest solid
  &:hover
    background-color: $col-links-lightest

.views-field-field-ol-event-date
  font-family: $lato
  font-weight: 900
  color: $col-content

.views-field-field-featured-image
  width: 120px
  height: 80px

.views-field-title
  font-family: $lato
  font-weight: 400
  font-size: $base-font-size
  color: $col-content
  line-height: $base-font-size
  padding: 0.25 * $base-font-size 0 0 0
  a
    font-family: $merriweather
    font-size: 1.125 * $base-font-size
    line-height: 1.5 * $base-font-size
    font-weight: 300
    text-decoration: none
    &:link
      color: $col-links
    &:visited
      color: $col-links
    &:hover
      color: $col-links

//
// UPCOMING EVENTS MINI CALENDAR

// Overrides default Drupal table background colour
.calendar-calendar table tbody tr
  background-color: transparent

// Styles basic panel header
.view-ol-event-calendar
  .view-header
  border-top: 1px $col-content-lighter solid
  border-bottom: 1px solid $col-content-lightest

// Styles month heading row
.view-ol-event-calendar .date-heading
  border-bottom: 1px solid $col-content-lightest

.view-ol-event-calendar .date-heading h3
  font-family: $lato
  a
    font-size: 1 * $base-font-size
    text-decoration: none
    color: $col-links

.pane-ol-event-calendar-panel-pane-2
  margin-bottom: 0.5em

.calendar-calendar
  .month-view .mini
  border: 1px solid $col-page

.calendar-calendar .month-view .mini thead tr .days
  background-color: $col-content-lightest
  color: $col-content-lighter
  font-family: $lato
  font-size: 1em
  font-weight: 900 
  border-top: 1px solid $col-content-lighter
  border-bottom: 1px solid $col-content-lighter
  border-left: none
  border-right: none
  padding: 0.4em 0

.calendar-calendar .has-no-events
  background-color: transparent
  border: 1px $col-page solid

// Sets the style of day number text
.calendar-calendar td
  font-family: $lato
  font-weight: 400
  font-size: 0.875 * $base-font-size
  text-align: center
  color: $col-content-darkest

// Styles date text inside day cells which have an event
.calendar-calendar .mini-day-on
  background-color: $col-links-lighter
  &:hover
    background-color: $col-links
  a
    &:link
      font-weight: 900
      color: white
    text-decoration: none

  
.calendar-calendar .mini .today
  background-color: $col-content-strong
  font-weight: 900
  color: $col-page

.calendar-calendar .month
  padding: 0.4em 0

.calendar-calendar .month-view .mini .empty
  background-color: transparent

.calendar-calendar .future
  background-color: $col-content-lightest

.calendar-calendar .past
  color: $col-content-lighter
  .has-events
    color: $col-links
    background-color: $col-links-lightest
    &:hover
      background-color: $col-links

// Style the month pager
.view .date-nav-wrapper .pager li
  background-color: transparent
  border-bottom-left-radius: 0
  border-bottom-right-radius: 0
  border-top-left-radius: 0
  border-top-right-radius: 0
  font-size: 1em
  z-index: none
  &:hover
    background-color: $col-links-lighter

//
// SERVICES LISTING DISPLAY - GRID

.view-openlocal-business
  background-color: $col-content-lightest
  .view-content
    .views-field
    display: block
    display: clear


//
// NEWS LISTING DISPLAY - GRID

.view-display-id-list_news_articles .views-row
  background-color: $col-content-lightest
  display: inline-block
  width: 240px
  margin: 0 20px 0.5em 0
  padding: 0 5px
  font-family: $lato


//
// OTHER ARTICLES BY THIS AUTHOR PANEL

.pane-openlocal-news-articles-by-author
  background-color: $col-content-lightest

  h2.pane-title
    padding: 4px 10px
    font-family: $lato
    font-size: 1em
    color: $col-content-darker
    &:link
      color: $col-links

//
// HOME PAGE ALERTS PANEL

// Styles the panel heading

.pane-openlocal-alert-panel-pane-1
  background-color: $col-content-lightest

  h2.pane-title
    padding: 0.5em 5px
    font-family: $lato
    font-size: 1em
    color: $col-content-darker
    &:link
      color: $col-links

























