
// ----------------------------------------------------------------------------
// ALL PANELS CONTAINING CONTENT LISTINGS







// ----------------------------------------------------------------------------
// GENERIC LISTING PANEL HEADING

h2.pane-title,
h2.node-title
  padding: 0.5em 5px
  font-family: $lato
  font-weight: 900
  font-size: 1em
  color: $col-content-darker
  a
    display: block
    width: 100%
    height: 100%
    &:link
      color: $col-links
    &:visited
      color: $col-links
    &:hover
      color: $col-links
    &:active
      color: $col-links-darker











// ----------------------------------------------------------------------------
// UPCOMING EVENTS LISTING DISPLAY - PANEL
// Try to use .ol-panel-list-events to style this panel


@mixin event-date($date-size, $month-size)
  .ol-date-only
    span:first-child
      margin: 0.25em 0 0 0
      font-size: $date-size * $base-font-size
      color: $col-content-darkest
      display: block
      font-weight: bold
    // span
    span:last-child
      margin: 0 0 0.5em 0
      font-size: $month-size * $base-font-size
      color: $col-content
      line-height: 1em
      display: block
    text-align: center

// View content styling for Upcoming events panel
.view-ol-event-upcoming
  @include event-date(1.3, 1)
  margin: 0.5em 0
  // background-color: $col-content-lightest
  table
    width: 100%
    margin: 0 0
    tr
      vertical-align: top
      border-bottom: solid 1px $col-page
      background-color: transparent
    td.views-field-field-ol-event-date
      padding: 0 5px 0.5em 5px
    td.views-field-field-featured-image
      padding: 0 5px 0.5em 5px
      width: 130px
    td.views-field-title
      padding: 0px 5px 0.5em 5px
      a
        font-family: $merriweather
        font-weight: 300
        text-decoration: none
        color: $col-links-darkest
        font-size: 0.875 * $base-font-size


// Dates column text (day and month)
.view-ol-event-upcoming-sidebar
  @include event-date(1.125, 0.75)


// Event title and location
.view-ol-event-upcoming-sidebar
  .views-field-title
    div:first-child
      padding: 0.25em 0 0 0
      a
        font-family: $merriweather
        font-weight: 400
        font-size: 1 * $base-font-size
        line-height: 1 * $base-font-size
        background-color: transparent
        &:link
          color: $col-links
        &:visited
          color: $col-links
        &:hover
          color: $col-links-darkest
        &:active
          color: white
    &:last-child
      a
        font-family: $lato
        font-weight: 500
        font-size: 0.875 * $base-font-size
        line-height: 0.875 * $base-font-size
        background-color: transparent
        &:link
          color: $col-links-darker
        &:visited
          color: $col-links-darker
        &:hover
          color: $col-links-darker
        &:active
          color: white

// What is this? Comment needed!

.field-name-field-ol-event-category,
.field-name-field-ol-event-date
  background-color: $col-content-lightest
  padding: 3px 0 6px 2px
  // padding-bottom: 6px
  border-bottom: solid 1px #FFF
  .field-label
    width: 80px
    // font-size: 0.8em


// What is this? Comment needed!

.view-ol-event-upcoming
  .views-field-field-ol-event-date
    // float: left
    margin: 0 5px 5px 0
  .views-field-field-featured-image
    // float: left
    margin: 0 5px 5px 0





// ol-panel-list-myevents,
// ol-panel-list-articles-related,



// ----------------------------------------------------------------------------
// OTHER ARTICLES BY THIS AUTHOR - PANEL

// .ol-panel-list-author-related
.pane-openlocal-news-articles-by-author
  background-color: $col-content-lightest

  h2.pane-title
    padding: 0.25em 10px
    font-family: $lato
    font-size: 1em
    color: $col-content-darker
    &:link
      color: $col-links





// ol-panel-list-pages-related,





// ----------------------------------------------------------------------------
// SERVICES LISTING DISPLAY - GRID

// .ol-panel-list-services-related
.view-openlocal-business
  background-color: $col-content-lightest
  .view-content
    .views-field
    display: block
    display: clear


// Style Services description text
.views-field-field-ol-description
  font-family: $lato
  font-size: 1em
  font-weight: 300
  line-height: 1em
  color: $col-content
  padding: 0.25em 5px




// ol-panel-list-articles-archive,
// ol-panel-list-group-events





// ----------------------------------------------------------------------------
// ARCHIVE DISPLAY - PANEL


.pane-openlocal-news-article-archive,
.pane-openlocal-news-articles-by-author
  background-color: $col-content-lightest
  margin: 1em 0
  .item-list
    h3
      color: $col-content
      font-family: $lato
      font-weight: 400
      font-size: 1em
      line-height: 1em
      padding: 1.25em 5px 0.25em 5px
      margin: 0
    ul
      margin: 0
      padding: 0
      list-style: none
      font-family: $merriweather
      font-size: 1em
      line-height: 1.25em
      font-weight: 300
      li.views-row
        padding: 0.5em 5px 0.5em 5px
        border-bottom: solid 1px $col-page
        a
          background-color: transparent
          &:link
            color: $col-links
            text-decoration: none
          &:visited
            color: $col-links-darker
          &:hover
            color: $col-links-darker
          &:active
            color: $col-links-lighter
      li.views-row-last
        border-bottom: none




// Component description
// .declaration
  // Positioning
    // position:
    // z-index:
    // top:
    // right:
    // Display & Box Model
  // display:
    // overflow:
    // box-sizing:
    // width:
    // height:
    // padding:
    // border:
    // margin:
  // Color
    // background:
    // color:
  // Text
    // font-family:
    // font-size:
    // line-height:
    // text-align:
  // Other
    // cursor:
