
//-----------------------------------------------------------------------------
// STYLES FOR USER PAGE

.page-user
  .view-openlocal-user
    table
      color: red

.panel-panel-inner
  .pane-user-profile
    width: 15%
    display: inline-block
    float: left
    .pane-user-name
      // vertical-align: bottom
      margin-top: 5px


  // .pane-node-created
  //   float: right
  //   display: inline-block

  .pane-custom
    // display: inline-block
    // height: 20px
    // margin-bottom: 50px
    .ol-comment-count
      // color: $col-links
      // font-size: 1.3em
      font-family: $merriweather
      font-weight: bold
      display: block
    p
      height: 20px
      margin: 0
      // display: inline-block

.ol-meta-data
  font-family: $lato
  display: inline-block
  width: 80%
  div
    display: inline-block
  .ol-username
    font-family: $merriweather
    font-weight: bold
    color: $col-links

  .ol-comments
    float: right
    .ol-comment-count
      font-size: 1.6em
      color: $col-links


.view-og-extras-members
  .views-field-picture
    margin: 0 10px 0px 10px
  .views-field-name
    margin: 0 10px 0px 10px
