
//-----------------------------------------------------------------------------
// STYLES FOR USER PAGE

.page-user
  .view-openlocal-user
    table
      color: red

.panel-panel-inner
  .pane-user-profile
    width: 15%
    display: inline-block
    float: left
    .pane-user-name
      // vertical-align: bottom
      margin-top: 5px


  .pane-node-created
    float: right
    display: inline-block

  .pane-custom
    display: inline-block
    height: 20px
    margin-bottom: 50px
    .ol-comment-count
      color: green
      font-size: 1.3em
      display: block
    p
      height: 20px
      margin: 0
      // display: inline-block

.ol-meta-data
  display: inline-block
  width: 80%
  div
    display: inline-block

  .ol-comments
    float: right

