
// ----------------------------------------------------------------------------
// VIEWS LISTINGS







// ----------------------------------------------------------------------------
// UPCOMING EVENTS LISTING DISPLAY - LIST


// ----------------------------------------------------------------------------
// View listing of upcoming events





//.ol-view-list-events





// Add line to top of table

.pane-openlocal-event-panel-pane-2
  border-top: 1px $col-content-lighter solid
  margin-bottom: 0.5em


// Style event listing table

.view-ol-event-upcoming
  table
    td
      // Align text to top of table cells
      vertical-align: top

      // Add line to bottom and a hover style to each table row
    tr
      border-bottom: 1px $col-content-lightest solid
      background-color: transparent
      &:hover
        background-color: $col-links-lightest
    // Event heading text
    .views-field-title a
      font-family: $merriweather
      font-size: 1.125 * $base-font-size
      line-height: 1.5 * $base-font-size
      color: $col-links
    // Event body text

    // Event venue link



// Style date text

.views-field-field-ol-event-date
  color: $col-content
  font-family: $lato
  font-weight: 900







.views-field-field-featured-image
//  width: 120px
//  height: 80px




// ----------------------------------------------------------------------------
// VIEW LISTING OF EVENT VENUES
.ol-view-list-places
  // Positioning
    // position:
    // z-index:
    // top:
    // right:
    // Display & Box Model
  // display:
    // overflow:
    // box-sizing:
    // width:
    // height:
    // padding:
    // border:
    // margin:
  // Color
    // background:
    // color:
  // Text
    // font-family:
    // font-size:
    // line-height:
    // text-align:
  // Other
    // cursor:








// ----------------------------------------------------------------------------
// VIEW LISTING OF MESSAGES - INBOX
.ol-view-list-messages
  // Positioning
    // position:
    // z-index:
    // top:
    // right:
    // Display & Box Model
  // display:
    // overflow:
    // box-sizing:
    // width:
    // height:
    // padding:
    // border:
    // margin:
  // Color
    // background:
    // color:
  // Text
    // font-family:
    // font-size:
    // line-height:
    // text-align:
  // Other
    // cursor:








// ----------------------------------------------------------------------------
// VIEW LISTING OF RESOURCES
.ol-view-list-resources
  // Positioning
    // position:
    // z-index:
    // top:
    // right:
    // Display & Box Model
  // display:
    // overflow:
    // box-sizing:
    // width:
    // height:
    // padding:
    // border:
    // margin:
  // Color
    // background:
    // color:
  // Text
    // font-family:
    // font-size:
    // line-height:
    // text-align:
  // Other
    // cursor:
