
// ----------------------------------------------------------------------------
// BASE STYLES







// ----------------------------------------------------------------------------
// PAGE

// Style background of page

body
  background: url(../images/bg-texture.png) repeat
  background-color: $col-page

#page
  background-color: $col-page








// ----------------------------------------------------------------------------
// TEXT SELECTION HIGHLIGHT COLOUR

::selection
  background-color: $col-content-strong
  color: $col-page






// ----------------------------------------------------------------------------
// TYPOGRAPHY

// Basic body text

p, ul, ol, td, div
  color: $col-content-darkest
  font-family: $lato
  font-weight: 300


// Global style for links

a
  text-decoration: none
  &:link
    color: $col-links
  &:visited
    color: $col-links-darker
  &:hover
    color: $col-links-darker
    background-color: $col-links-lightest
  &:active
    color: white
    background-color: $col-links


// Styles blockquotes in body area

blockquote p
  font-family: $lato
  font-weight: 900
  color: $col-content-lighter
  font-size: 1.125 * $base-font-size
  margin-left: -1.25em
  border-top: 1px $col-content-lighter solid
  border-bottom: 1px $col-content-lighter solid
  padding: 0.25em 0
    // padding-bottom: 0.25em


// Headings

h1, h2, h3, h4, h5, h6
  color: $col-content
  font-family: $merriweather
  font-weight: 900


// Large page title

#page-title,
#login-message
  color: $col-content-darker
  font-family: $merriweather
  font-weight: 300
  line-height: 2 * $base-font-size
  margin-top: 2 * $base-font-size
  margin-bottom: 3 * $base-font-size








// ----------------------------------------------------------------------------
// TABLES

table
  background-color: transparent
  width: 100%
  caption
    @include grid-list-panel-title
    text-align: left

  thead
    background-color: $col-content-lightest
    text-align: left
    border-bottom: 1px solid $col-content
    @include typography-grid-list-body
  th
    padding: 1.25em 15px 0.25em 5px
    vertical-align: bottom
  th.views-field-timestamp
    text-align: right
  tr
    border-bottom: 1px solid $col-content-lightest
    td
      padding: 0.25em 15px 0.25em 5px
    td.views-field-timestamp
      text-align: right
  // col

  // colgroup






// ----------------------------------------------------------------------------
// PUSH PANOPOLY CONTROL STRIP BACKWARDS
// To expose Devel Themer toggle


div#panels-ipe-control-container
  z-index: 500





















