
// ----------------------------------------------------------------------------
// BASE STYLES







// ----------------------------------------------------------------------------
// PAGE

// Style background of page

body
  background: url(../images/bg-texture.png) repeat
  background-color: $col-page

#page
  background-color: $col-page








// ----------------------------------------------------------------------------
// TEXT SELECTION HIGHLIGHT COLOUR

::selection
  background-color: $col-content-strong
  color: $col-page






// ----------------------------------------------------------------------------
// TYPOGRAPHY

// Basic body text

p, ul, ol
  color: $col-content-darkest
  font-family: $lato
  font-weight: 300


// Global style for links

a
  text-decoration: none
  &:link
    color: $col-links
  &:visited
    color: $col-links-darker
  &:hover
    color: $col-links-darker
    background-color: $col-links-lightest
  &:active
    color: white
    background-color: $col-links


// Styles blockquotes in body area

blockquote p
  font-family: $lato
  font-weight: 900
  color: $col-content-lighter
  font-size: 1.125 * $base-font-size
  margin-left: -1.25em
  border-top: 1px $col-content-lighter solid
  border-bottom: 1px $col-content-lighter solid
  padding: 0.25em 0
    // padding-bottom: 0.25em


// Headings

h1, h2, h3, h4, h5, h6
  color: $col-content
  font-family: $merriweather
  font-weight: 900


// Large page title

#page-title,
#login-message
  color: $col-content-darker
  font-family: $merriweather
  font-weight: 300
  line-height: 2 * $base-font-size
  margin-top: 2 * $base-font-size








// ----------------------------------------------------------------------------
// TABLES

//table
  //background-color: transparent







// ----------------------------------------------------------------------------
// PUSH PANOPOLY CONTROL STRIP BACKWARDS
// To expose Devel Themer toggle


div#panels-ipe-control-container
  z-index: 500





















