
// @file
// Custom sass mixins
//
// Define the custom mixins for your project here.
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#defining_a_mixin

// Makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
=element-invisible
  position: absolute !important
  height: 1px
  width: 1px
  overflow: hidden
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7
    clip: rect(1px 1px 1px 1px)
    // IE6 and IE7 use the wrong syntax.
  clip: rect(1px, 1px, 1px, 1px)

// Turns off the element-invisible effect.
=element-invisible-off
  position: static !important
  clip: auto
  height: auto
  width: auto
  overflow: auto

// Makes an element visually hidden by default, but visible when focused.
=element-focusable
  +element-invisible
  &:active,
  &:focus
    +element-invisible-off







// ----------------------------------------------------------------------------
// GRADIENTS

// Blends two colours from $col-top at the top, thru to $col-bottom at the bottom
// Simple really

@mixin gradient-vertical($col-top, $col-bottom)
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, $col-top),color-stop(1, $col-bottom))
  background-image: -o-linear-gradient(top, $col-top 0%, $col-bottom 100%)
  background-image: -moz-linear-gradient(top, $col-top 0%, $col-bottom 100%)
  background-image: -webkit-linear-gradient(top, $col-top 0%, $col-bottom 100%)
  background-image: -ms-linear-gradient(top, $col-top 0%, $col-bottom 100%)
  background-image: linear-gradient(to top, $col-top 0%, $col-bottom 100%)






// ----------------------------------------------------------------------------
// GLOWS


// Adds a glow coloured using $col-glow, with a size of $glow-size
@mixin glow-inner($col-glow, $glow-size)
  -moz-box-shadow:    inset 0 0 $glow-size * 1px $col-glow
  -webkit-box-shadow: inset 0 0 $glow-size * 1px $col-glow
  box-shadow:         inset 0 0 $glow-size * 1px $col-glow








// ----------------------------------------------------------------------------
// TYPOGRAPHY

// All grid list headings
@mixin typography-grid-list-heading
  font-family: $lato
  font-weight: 900
  font-size: $base-font-size
  color: $col-content
  line-height: $base-font-size
  padding: 0.25em 0 0 0


// All list item titles
@mixin list-item-title
  font-family: $merriweather
  font-size: 1em
  line-height: 1.25em
  font-weight: 300
  a
    &:link
      color: $col-links
    &:visited
      color: $col-links
    &:hover
      color: $col-links-darker
      background-color: transparent
    &:active
      color: $col-links-lighter


@mixin grid-list-panel-title
  font-family: $lato
  font-weight: 900
  font-size: 1 * $base-font-size
  line-height: 1 * $base-font-size
  padding: 0.75em 5px 0.25em 5px
  color: $col-content-darker
  background-color: transparent
  a:link
    color: $col-links
  a:visited
    color: $col-links
  a:hover
    color: $col-links-darker
  a:active
    color: $col-links-lighter
    background-color: transparent


@mixin typography-grid-list-body
  font-family: $lato
  font-size: 1em
  font-weight: 300
  line-height: 1em
  color: $col-content


@mixin typography-grid-list-date
  font-family: $lato
  font-size: 0.875 * $base-font-size
  line-height: 1 * $base-font-size
  font-weight: regular
  color: $col-content

@mixin typography-panel-list-title
  font-family: $merriweather
  font-weight: 400
  font-size: 1 * $base-font-size
  line-height: 1 * $base-font-size
  a
    background-color: transparent
    &:link
      color: $col-links
    &:visited
      color: $col-links
    &:hover
      color: $col-links-darkest
    &:active
      color: $col-links-lightest

@mixin typography-panel-list-venue
  font-family: $lato
  font-weight: 500
  font-size: 0.875 * $base-font-size
  line-height: 0.875 * $base-font-size
  a
    background-color: transparent
    &:link
      color: $col-links-darker
    &:visited
      color: $col-links-darker
    &:hover
      color: $col-links-darker
    &:active
      color: white

@mixin typography-highlight-heading
  font-family: $merriweather
  font-size: 2 * $base-font-size
  font-weight: 300
  line-height: 2 * $base-font-size
  a
    background-color: transparent
    &:link,
    &:visited
      color: $col-links
    &:hover
      color: $col-links-darker
    &:active
      color: $col-links-lighter

@mixin typography-field-item
  font-family: $lato
  font-weight: 400
  font-size: $base-font-size
  color: $col-content
  line-height: $base-font-size
  padding: 0.25em 0 0 0

@mixin typography-field-heading
  font-family: $merriweather
  font-weight: 900
  font-family: $merriweather
  font-size: $base-font-size
  line-height: $base-font-size
  a
    background-color: transparent
    &:link,
    &:visited
      color: $col-links
    &:hover
      color: $col-links-darker
    &:active
      color: $col-links-lighter


// ----------------------------------------------------------------------------
// BORDER RADIUS

@mixin corner-radius($corner-radius)
  -moz-border-radius: $corner-radius
  border-radius: $corner-radius



// ----------------------------------------------------------------------------
// CONTROL BUTTONS


@mixin input-button-style
  line-height: 1.25em
  @include gradient-vertical($col-content-lightest, $col-page)
  border-radius: 0.25em
  border: solid 1px $col-content-lighter
  box-shadow: none
  font-family: $lato
  font-weight: 400
  font-size: 1em
  margin-right: 10px
  &:hover
    @include gradient-vertical($col-page, white)
    border: solid 1px $col-content
    color: $col-content
  &:active
    @include glow-inner($col-content-lighter, 10)
    @include gradient-vertical($col-page, $col-content-lightest)
    border: solid 1px white
    color: $col-content-darkest

@mixin input-button-style-strong
  line-height: 1.25em
  @include gradient-vertical($col-links-darker, $col-links)
  background-color: $col-links
  border-radius: 0.25em
  border: solid 1px $col-links-darker
  box-shadow: none
  font-family: $lato
  font-weight: 400
  font-size: 1em
  color: $col-page
  &:hover
    @include gradient-vertical($col-links, mix($col-links, $col-page, $weight:50%))
    border: solid 1px $col-links-darker
    color: white
  &:active
    @include glow-inner($col-links-darker, 10)
    @include gradient-vertical($col-links, $col-links-darker)
    border: solid 1px $col-links-lighter
    color: $col-links-lighter


@mixin ol-default-panel
  background-color: $col-content-lightest
  margin: 1em 0
















