//
// @file
// Styles are organized using the SMACSS technique. @see http://smacss.com/book/
//
// When you turn on CSS aggregation at admin/config/development/performance, all
// of these @include files will be combined into a single file.

// Import Sass mixins, variables, Compass modules, etc.
@import init

// HTML element (SMACSS base) rules
@import normalize

@import base

// Layout rules
@import layouts/responsive

// Component (SMACSS module) rules
@import components/misc

// Optionally, add your own components here.
@import print

// Import alert pane style
@import components/actions
@import components/panels

// Import
//@import components/pane-openlocal-news-articles-by-author

// SMACSS theme rules
// @import "theme-A";
// @import "theme-B";

.socialmedia
  // float: right
  display: inline-block
  vertical-align: top
  .fa
    margin-left: 5px

.top-right
  float: right
  margin-top: 10px

#secondary-menu
  // float: right
  display: inline-block
  // padding-top: 30px
  margin-top: 5px
  a
    text-decoration: none

#search-form
  float: right

#footer
  background-color: #aaa
  margin-top: 30px

// #block-superfish-1
//   ul.menu
//     list-style-type: none
//     li
//       // display:inline
//       float:left


